<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Customer App</title>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</head>

<body>